.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 200px;
}

.thumbnail-container {
   opacity: .85;
   padding: 5px;
   transition: all .2s ease-in-out;
}

.thumbnail-container:hover {
    opacity: 1;
    transform: scale(1.1);
}